.cache/fontconfig/0a2d284b-cbbb-43cd-a3ee-3369f49e7987-le64.cache-7
.cache/fontconfig/0f0bd1c0-9719-42f1-a087-271c239d85fa-le64.cache-7
.config/Code/Session Storage/MANIFEST-000001
.ssh/id_rsa
.ssh/known_hosts
.config/dconf/user
.config/Code/Local Storage/leveldb/CURRENT
fogging.jpg
.cache/fontconfig/1c2c2997deddd45e0296fa5a60917b7d-le64.cache-7
